In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="8888",
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016173177C10>

In [9]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS COLLEGE")

In [10]:
mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)

('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)
('xyz',)